<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= typeof title !== 'undefined' ? title : 'Error' %></title>
  <%- include('head') %>
</head>
<body class="dark">
  <%- include('nav') %>
  <div class="page">
    <div class="md3-alert error">
      <i class="material-icons-outlined">error</i>
      <div>
        <h6>Error</h6>
        <p><%= typeof error !== 'undefined' ? error : 'An unknown error occurred' %></p>
      </div>
    </div>
    <div style="margin-top:1rem;">
      <a href="/"><md-filled-button>Return Home</md-filled-button></a>
    </div>
  </div>
  </div>
  <script>
    var drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
    var topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
    topAppBar.setScrollTarget(document.querySelector('.page'));
    topAppBar.listen('MDCTopAppBar:nav', function() {
      drawer.open = !drawer.open;
    });
    if (window.innerWidth >= 993) drawer.open = true;
  </script>
</body>
</html>
