<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : 'ARM' %></title>
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <script type="importmap">
  {
    "imports": {
      "@material/web/": "https://esm.run/@material/web@2.4.0/"
    }
  }
  </script>
  <script type="module">
    import '@material/web/all.js';
    import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
</head>
<body class="dark">
  <%- include('nav') %>
  <div class="page">
    <%- body %>
  </div>
  <script src="/static/js/app.js"></script>
</body>
</html>
