<!DOCTYPE html>
<html lang="en">
<head>
  <title>ARM - Login</title>
  <%- include('head') %>
</head>
<body class="dark">
  <%- include('nav') %>
  <div class="page" style="max-width:400px;margin:auto;">
    <div class="md3-card">
      <h5>Login</h5>
      <% if (typeof error !== 'undefined' && error) { %>
        <div class="md3-alert error">
          <i class="material-icons-outlined">error</i>
          <span><%= error %></span>
        </div>
      <% } %>
      <form method="POST" action="/login">
        <md-outlined-text-field label="Username" id="email" name="email" required style="margin-bottom:16px;"></md-outlined-text-field>
        <md-outlined-text-field type="password" label="Password" id="password" name="password" required style="margin-bottom:16px;"></md-outlined-text-field>
        <md-filled-button type="submit" style="width:100%;">Login</md-filled-button>
      </form>
    </div>
  </div>
  </div>
  <script>
    var drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
    var topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
    topAppBar.setScrollTarget(document.querySelector('.page'));
    topAppBar.listen('MDCTopAppBar:nav', function() {
      drawer.open = !drawer.open;
    });
    if (window.innerWidth >= 993) drawer.open = true;
  </script>
</body>
</html>
