<!DOCTYPE html>
<html lang="en">
<head>
  <title>ARM - Update Password</title>
  <%- include('head') %>
</head>
<body class="dark">
  <%- include('nav') %>
  <div class="page" style="max-width:400px;margin:auto;">
    <div class="md3-card">
      <h5>Update Password</h5>
      <% if (typeof error !== 'undefined' && error) { %>
        <div class="md3-alert error">
          <i class="material-icons-outlined">error</i>
          <span><%= error %></span>
        </div>
      <% } %>
      <% if (typeof success !== 'undefined' && success) { %>
        <div class="md3-alert success">
          <i class="material-icons-outlined">check_circle</i>
          <span><%= success %></span>
        </div>
      <% } %>
      <form method="POST" action="/update_password">
        <md-outlined-text-field type="password" label="Current Password" id="old_password" name="old_password" required style="margin-bottom:16px;"></md-outlined-text-field>
        <md-outlined-text-field type="password" label="New Password" id="new_password" name="new_password" required style="margin-bottom:16px;"></md-outlined-text-field>
        <md-outlined-text-field type="password" label="Confirm New Password" id="confirm_password" name="confirm_password" required style="margin-bottom:16px;"></md-outlined-text-field>
        <md-filled-button type="submit" style="width:100%;">Update Password</md-filled-button>
      </form>
    </div>
  </div>
  </div>
  <script>
    var drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
    var topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
    topAppBar.setScrollTarget(document.querySelector('.page'));
    topAppBar.listen('MDCTopAppBar:nav', function() {
      drawer.open = !drawer.open;
    });
    if (window.innerWidth >= 993) drawer.open = true;
  </script>
</body>
</html>
